@media screen and (min-width: 601px) {
body{
    background-color: beige;
}
.container-left{
    width: 70%;
    float: left;
}
.container-right{
    width: 30%;
    float: right;
}
.gif-space{
    margin:5px;
}
.gif-img{
    margin:5px;
}
.buttonsClass{
    margin:5px;
}

}

@media screen and (max-width: 600px) {
    .container-left{
        text-align: center;
        align-content: center;
        width: 100%;
        float: left;
    }
    .container-right{
        text-align: center;

        align-content: center;
        width: 100%;
        float: left;
    }
    .header-space{
        width: 90%;
        align-content: center;
        margin: auto;
    }
    .buttonsClass{
        margin:5px;
    }
    .form-space{

        width: 90%;
        margin: 20px auto 10px auto;
    }

}